@using SiteAngular.Models.ViewModels
@model IEnumerable<StudentViewModel>

<div class="table-responsive">
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Date of birth</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{student.FirstName}}
                </td>
                <td>
                    {{student.LastName}}
                </td>
                <td>
                    {{student.Address}}
                </td>
                <td>
                    {{student.DOB|date:'dd - MMM - yyyy'}}
                </td>
                <td>
                    {{student.Phone}}
                </td>
                <td>
                    <a href="#" class="btn btn-danger btn-xs btn-round" ng-animate="'animate'" ng-click="Delete(student.StudentGuid,$index)"><i class="fa fa-trash-o"></i></a>
                    @*<a href="#" class="btn btn-primary btn-xs btn-round" ng-click="Edit(student.StudentGuid)"><i class="fa fa-edit"></i></a>*@
                    <a href="#" class="btn btn-primary btn-xs btn-round" ui-sref="Edit({id:student.StudentGuid})"><i class="fa fa-edit"></i></a>
                    <a href="#" class="btn btn-success btn-xs btn-round"><i class="fa fa-unlock"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div >